{% extends "shop_app/base.html" %}
{% load static %}
{% block content %}



<div id="call">
  <p><img src="{% static "images/photo1.png" %}" align="right" width="612px" hight="100%">
  <div class="call_h1">Онлайн-каталог сантехнических товаров</div>  
  <div class="call_text">Отправьте заявку на звонок, и мы свяжемся с вами в ближайшее время. Или позвоните нам прямо сейчас по телефону +7 (8452) 52-52-52</div>
  <div class="call_b_c"><a id="show-order-form-button" style="call_button">Заказать звонок</a></div>
</p>
</div>
<div class="catalog_block" id="catalog_block">
<h1>Каталог товаров</h1>
<div id="main" class="category-list">
	<div class="container" style="background-image: url('{% static "images/photo2.png" %}');">
            <a href="{% url "shop_app:product_list_by_category" 'bath'%}"><div class="text" style="padding: 20px 0px 137px 20px;"><p>Ванны и</p><p>поддоны</p></div></a>
        </div>
	<div class="container" style="background-image: url('{% static "images/photo3.png" %}');">
            <a href="{% url "shop_app:product_list_by_category" 'sanfayance'%}"><div class="text" style="padding: 20px 0px 185px 20px;"><p>Санфаянс</p></div></a>
        </div>
	<div class="container" style="background-image: url('{% static "images/photo4.png" %}');">
            <a href="{% url "shop_app:product_list_by_category" 'furniture'%}"><div class="text" style="padding: 20px 0px 137px 20px;"><p>Мебель для</p><p>ванной</p></div></a>
        </div>
	<div class="container" style="background-image: url('{% static "images/photo5.png" %}');;">
            <a href="{% url "shop_app:product_list_by_category" 'faucet'%}"><div class="text" style="padding: 20px 0px 89px 20px;"><p>Смесители</p><p>и системы</p><p>для душа</p></div></a>
        </div>
</div>
<div id="main" class="category-list">
	<div class="container" style="background-image: url('{% static "images/photo6.png" %}');">
            <a href="{% url "shop_app:product_list_by_category" 'sink'%}"><div class="text" style="padding: 20px 0px 137px 20px;"><p>Кухонные</p><p>мойки</p></div></a>
        </div>
	<div class="container" style="background-image: url('{% static "images/photo7.png" %}');">
            <a href="{% url "shop_app:product_list_by_category" 'bathroom_accessories'%}"><div class="text" style="padding: 20px 0px 137px 20px;"><p>Аксессуары</p><p>для ванной</p></div></a>
        </div>
	<div class="container" style="background-image: url('{% static "images/photo8.png" %}');">
            <a href="{% url "shop_app:product_list_by_category" 'towel_rail'%}"><div class="text" style="padding: 20px 0px 137px 20px;"><p>Полотенце-</p><p>сушители</p></div></a>
        </div>
	<div class="container" style="background-image: url('{% static "images/photo9.png" %}');">
            <a href="{% url "shop_app:product_list_by_category" 'plumbing'%}"><div class="text" style="padding: 20px 0px 137px 20px;"><p>Инженерная</p><p>сантехника</p></div></a>
        </div>
</div>
</div>
<div class="del_block" id="del_block">
<h1>Доставка</h1>
<div class="delivery">
<b>Мы осуществляем доставку заказов по городу Саратову двумя способами:</b>
<ul style="color:rgba(38, 38, 38, 1);padding-left:20px;">
<li>Собственная служба доставки: Быстрая и надежная доставка непосредственно от нашего магазина.</li>
<li>Яндекс Доставка: Удобная и оперативная доставка через сервис Яндекс Доставка.</li>
</ul>
<b>Стоимость и сроки доставки будут рассчитаны при оформлении заказа, исходя из выбранного способа и вашего адреса.</b>
</div>
</div>
<h1 id="contacts" style="margin-top: 150px;">Контакты</h1>
<div class="cont_block">

<div class="cont_block1">

<div class="contacts">
<p class="gray">Адрес:</p>
<p><b>г. Саратов, ул. Новоузенская, д. 214А</b></p>
<p class="gray">Основной телефон:</p>
<p><b>+7 (8452) 52-52-52</b></p>
<p>
<table>
<tr>
<td class="gray">Телефон розничного отдела:</td>
<td class="gray">Телефон оптового отдела:</td>
</tr>
<tr>
<td><b>+7 (8452) 71-27-27</b></td>
<td><b>+7 904 240-47-27</b></td>
</tr>
<tr>
<td><b>+7 (8452) 56-99-00</b></td>
<td><b>+7 908 543-72-26</b></td>
</tr>
</table>
</p>
<p class="gray">Почта:</p>
<p><b>optomaster@bk.ru</b></p>
</div>
</div>
<div class="container" style="background-image: url('{% static "images/map.png" %}');">
        <div class="text" >
	<div class='spring'><h3>Наш магазин на карте</h3>
	<div style="font-size:20px;padding-top:10px;">Посмотрите адрес магазина на карте</div></div>
	<a href="https://yandex.ru/maps/194/saratov/?ll=45.969658%2C51.539038&mode=poi&poi%5Bpoint%5D=45.969467%2C51.539136&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D1183729404&z=18.6" class="button">Карта &#10230;</a>
	</div>
</div>
</div>

<div id="popup-overlay">
    <div id="popup">
    <h1>Заказать звонок</h1>
    <p style="color: rgba(102, 102, 102, 1); font-size:16px;">Оставьте заявку на обратный звонок, и мы свяжемся с вами в течение дня в рабочее время</p>
    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Заказать звонок"></p>
    {% csrf_token %}
    </form>
    <p style="color: rgba(102, 102, 102, 1); font-size:14px;">* - обязательно для заполнения</p>
    <p style="color: rgba(102, 102, 102, 1); font-size:14px;">Нажимая на кнопку, вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности.</p>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() { // Ensure DOM is loaded
    const popupOverlay = document.getElementById("popup-overlay");
    const popup = document.getElementById("popup");

    function showPopup() {
        popupOverlay.style.display = "block";
    }

    function hidePopup() {
        popupOverlay.style.display = "none";
    }

    popupOverlay.addEventListener("click", hidePopup);
    popup.addEventListener("click", (event) => event.stopPropagation());

    const showOrderFormButton = document.getElementById("show-order-form-button");
        showOrderFormButton.addEventListener("click", showPopup);
});
</script>
{% endblock %}